<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740771744828-r22atcp6u68tga9531gqi7279ak5u0vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740771744828-r22atcp6u68tga9531gqi7279ak5u0vj</string>
	<key>API_KEY</key>
	<string>AIzaSyB2S8PU_OzMhOm6YTw3INAqffzNjhJcCmc</string>
	<key>GCM_SENDER_ID</key>
	<string>740771744828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseServices</string>
	<key>PROJECT_ID</key>
	<string>fir-services-a8bf0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-services-a8bf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740771744828:ios:c0501cfb84d61415390739</string>
</dict>
</plist>